<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	Template edited by Alexia Mercier for Bicursiosité, 2018 
-->
<html>
    <head>
		<title>BICURSIOSITÉ</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{{ .Site.BaseURL }}" class="logo">
									<span class="symbol"><img src="../img/Logo_final_Bicursiosité.jpg" alt="" /></span><span class="title">BICURSIOSITÉ</span>
								</a>


						</div>
					</header>
					
					
						<!-- Main -->
					<div id="main">
						<div class="inner">
						 <h1>Newsletter Décembre 2019 - Bicursiosité</h1>
						 
						 
						 
						  <!--Section des Evenements passes et a venir-->
						  
						  
					<h2>Retour sur la réunion de la cellule culturelle</h2>
						 
                                
                     <p>Comme vous le saviez, la cellule culturelle s’est réunie le vendredi 15 afin d’établir une liste de projets pour l’année. Bien entendu, nous avons parlé des causeries musicales et du jeu de piste, évènements maintenant traditionnels de l’asso. Tandis que le (ou les !) jeu de piste ne sera pas avant janvier, nous espérons prévoir une causerie musicale avant les vacances de Noël sur le thème du langage, de la rhétorique et du discours scientifique, soyez à l’affût !</p>
					 <p>En plus de cela, suite à la première expérience l’année dernière il a été envisagé de réitérer les projections-débats en partenariat avec l’association UPMCiné. Cette séance, cette fois-ci orientée sur le thème de la culture chinoise, est espérée pour fin janvier.</p>
					 <p>Enfin, depuis un certain temps l’équipe de Bicursiosité voulait se lancer dans le tournage de brefs portraits vidéo d’actuel.le.s et d'ancien.ne.s étudiant.e.s en double-cursus : nous sommes fier.e.s de vous annoncer qu’un tournage est déjà prévu pour espérer sortir la première vidéo en janvier ! Vous avez envie de partager votre expérience ? Faire découvrir aux autres votre cursus ? Parler de votre motivation, de vos projets, de ce que vous aimez (ou pas) dans le double-cursus ? Notre association est médiatrice des bicursieux, <b>contactez-nous !</b></p>
                       

 							<!--Section HelloAsso-->
                        	<h2>Adhésion Hello Asso</h2> 
                        	<p> <span class="image right"><img src="../img/helloasso.jpg" alt="" /></span>Vous pouvez toujours adhérer en ligne grâce à Hello Asso ! La fiche d'adhésion et le paiement de la cotisation se font directement en ligne. <a target="_blank" href="https://www.helloasso.com/associations/bicursiosite/adhesions/adhesion-2018-2019?fbclid=IwAR1tsKbxvi5rMG5yQiNWLbZ-bYBHMDVdyZ_T-Ak4k0RINzIW_VxAL3lormc">C'est ici !</a></p>
                        	
                        
                        <!--Section Articles Blogs-->  

                    <h2>Appel à rédacteurs pour le blog</h2>
					<p><span class="image left"><img src="../img/blog-relecteur-vignette.png" alt="" /></span>
                    <p>Vous aimez lire ? Un livre vous a intéressé et mériterait qu’on en parle ? Ça tombe bien, nous avons pour ambition d’écrire une série d’articles qui explique un ouvrage par une approche propre à l’association : la pluridisciplinarité ! Même les livres les plus connus peuvent être redécouverts ainsi. <br>
                    N’ayez pas peur de nous écrire si une idée germe en vous ! <br>
                    Vous pouvez nous contacter sur notre page Facebook, ou envoyer un mail directement à <b>mint.mercier@gmail</b></p>

					 <h2>La conservation de la biodiversité (2e partie)</h2>
                    <p><span class="image right"><img src="../img/blog-sophie-vignette.png" alt="" /></span>Deuxième article par Sophie Evers sur la conservation de la biodiversité ! D'où viennent donc les valeurs qui guident les pratiques de la biologie de la conservation ? Entre valeur intrinsèque de la nature et services écosystémiques, <br>
<a href="http://bicursiosite.com/blog/biologie-conservation-2/" target="_blank">la réponse est ici !</a><br> <i>Psssst, le troisième et dernier épisode arrive très bientôt ! </i></p>	
                        

                            
                        <!--Section Agenda des Curieux-->    
                        
						 <h2>Agenda des curieux</h2>

						 <h4>Une heure, une femme d’influence</h4>
						 <p>Elles ont toutes marqué l’Histoire, les arts ou encore les sciences. Ce cycle vous propose de redécouvrir chaque semaine la vie et le parcours de ces grandes femmes d’influence - et tout particulièrement, ce mois-ci, Marie Curie et Gertrude Stein !
 ?<br>
                            <i>Oùquandquoicomment ?</i> Marie Curie le 7 décembre, Gertrude Stein le 14 décembre, au MK2 Odéon (côté St Germain), à 11h. Prix : 15€ (tarif réduit); 20€ (tarif plein). <a target="_blank" href="https://www.mk2.com/evenements/1-heure-1-femme-dinfluence">Plus d'info ici</a></p>
                            
                        <h4>Tableau périodique géant de Jussieu : venez inaugurer le premier élément !</h4>
                        <p>PÀ l'occasion de la remise des Prix Nobels et de la fin de l'année internationale du Tableau périodique de l'UNESCO, venez découvrir le design du Nobelium, le premier de la future fresque "La Forêt de symboles". Conçue par le collectif "L'univers-cité", ce record du monde célébrant le pluridisciplinarité crée des liens entre les Baudelaire, Mendeleïev et Hadrien. Ambiance électro bonne compagnie assurée ! Bonus : une surprise vous attendra peut-être à l'Institut du Monde Arabe ensuite...<br>
                            <i>Oùquandquoicomment ?</i> Le mardi 10 décembre au Foyer de Jussieu (ou pas loin), avec l'association Défis Sorbonne (ADS), Parismus et l'AMI. Gratuit.</p>

                        	<h4>Soirée rencontre : que peut faire le droit pour le climat ?</h4>	
                        	<p>L'équipe de Notre affaire à tous vous donne rendez-vous dès 19h pour vous parler de leur combat pour la justice climatique et les droits du vivant. Ce dernier est réalisé par de nombreux moyens, soutien au People’s Climate Case, lancement de l’Affaire du Sicèle, plaidoyer pour l’inscription du climat et des limites planétaires dans la Constitution, actions contre l’impunité des multinationales, accompagnement des collectifs locaux avec SuperLocal et documentation des impacts et des inégalités climatiques.<br>
                        	<i>Oùquandquoicomment ?</i> Le mercredi 11 décembre de 19h à 23h, à La Base au 31 rue Bichat, 75010 Paris, entrée libre. <a target="_blank" href="https://www.facebook.com/events/1820677708076406/">Plus d'info ici</a></p>
	
	                        <h4>Venez parcourir l’univers avec Christophe Galfard !</h4>	
                        	<p>L’astrophysique n’était pas au programme de ton bi-cursus ? Qu’à cela ne tienne ! Tous les mois, en partenariat avec les cinémas MK2, Christophe Galfard, docteur en physique théorique, anime une conférence sur différentes facettes de l’univers, afin de nous initier aux savoirs du monde physique. Le sujet de ce mois est “Qu’est-ce que la matière noire ?”.<br>
							<i>Oùquandquoicomment ?</i> Le vendredi 13 décembre au MK2 Odéon (côté St Germain) ou le samedi 14 décembre au MK2 Quai de Loire. Prix : 9€ (-26 ans); 15€ (plein). <a target="_blank" href="https://www.mk2.com/evenements/venez-parcourir-lunivers-christophe-galfard">Plus d'info ici</a></p>
                        	
                        	<h4>Conférence - Qui mange quoi ?</h4>	
                        	<p>C’est bien connu, nous avons besoin de manger pour vivre, l’alimentation est ainsi un phénomène biologique, mais pas seulement ! La réponse à ce besoin est modulée par de nombreux facteurs, notamment par des facteurs socio-culturels mais aussi par des contraintes écologiques. Il est important de s’intéresser aux liens entre humains et nature pour comprendre l’alimentation des populations humaines. Serge Bahuchet, ethnobiologiste vous parlera ainsi d’anthropologie de l’alimentation, en lien avec l’exposition temporaire « Je mange donc je suis » actuellement au Musée de l’Homme.<br>
                        	<i>Oùquandquoicomment ?</i> Le lundi 16 décembre de 18h à 19h30 au Musée de l’Homme, entrée libre. <a target="_blank" href="http://www.museedelhomme.fr/fr/au-programme/agenda/qui-mange-quoi-anthropologie-lalimentation-4020?fbclid=IwAR2esEryP1xY76pBm-yhj_ZXfaxGcf8CDZLaW_3Z-Y0zWa9XBZKdaxpKnyo">Plus d'info ici</a></p>
                        	

							<h4>Une heure, une cité millénaire</h4>	
                        	<p>En partenariat avec les cinémas MK2 et l’agence Des Mots et Des Arts, ce cycle de conférences propose chaque mois une présentation de cités millénaires, à travers les siècles, les cultures et les continents. Après Uruk, Babylone et Troie, c’est ce mois-ci au tour de Persépolis, le paradis perse, de dévoiler son histoire et ses secrets !<br>
                        	<i>Oùquandquoicomment ?</i> Le lundi 16 décembre au MK2 Grand Palais, à 20h. Prix : 15€ (-26 ans); 20€ (plein). <a target="_blank" href="https://www.mk2.com/evenements/1-heure-1-cite-millenaire">Plus d'info ici</a></p>

							<h4>Exposition - Charlie Chaplin, l’homme-orchestre</h4>	
                        	<p>La Philharmonie de Paris vous invite à découvrir ou redécouvir l’œuvre de Charlie Chaplin, un des maîtres du cinéma muet. Venez explorer le rapport étroit de l’artiste à la danse, au rythme, à l’illusion de la parole et du son, ainsi qu’à leur orchestration au sein de ses oeuvres. Poésie et comique du personnage de l’artiste seront présents par leur dimension musicale. L’immersion audiovisuelle de l’exposition vous fera comprendre le cinéma à l’époque de Charlie Chaplin et vous offrira une éclairage inédit sur la vie et l’œuvre de ce grand artiste du XXème siècle!<br>
                        	<i>Oùquandquoicomment ?</i> Jusqu’au dimanche 26 janvier 2020 à la Cité de la Musique. <a target="_blank" href="https://philharmoniedeparis.fr/fr/activite/exposition/21269-charlie-chaplin?date=1570788000">Plus d'info ici</a></p>

							<h4>De l’amour !</h4>	
                        	<p>Depuis quelques mois, le Palais de la découverte propose une exposition sur l’amour. Dans la première galerie, “galerie des attachements”, est proposée une étude du concept affectif de l’amour, des formes sous lesquelles il se décline ; dans la seconde galerie, “galerie des sciences”, on aborde le sujet d’un point de vue scientifique !<br>
                        	<i>Oùquandquoicomment ?</i> Du mardi au dimanche au Palais de la découverte, avenue Franklin Roosevelt (75008). Prix : de 3 à 7€ (tarif réduit); 9€ (tarif plein). <a target="_blank" href="http://www.palais-decouverte.fr/fr/au-programme/expositions-temporaires/de-lamour/lexposition/">Plus d'info ici</a></p>
														



<h5><i>Newsletter par Ariane Ravier et Sophie Evers</i></h5>                        	
                        	
                        	
	</div>
	</div>
					<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Contact</h2>
								<p> Envoyez nous un e-mail : <b>bicursiosite@ntymail.com</b></p> 
								<p><a href="https://my.sendinblue.com/users/subscribe/js_id/3312v/id/2" target="_blank"><b>Inscription à la Newsletter</b></a></p>
							</section>
							<section>
								<h2>Suivez nous !</h2>
								<ul class="icons">
									<li><a href="https://twitter.com/bicursiosite" target="_blank" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/bicursiosite/" target="_blank" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/bicursiosite/" target="_blank" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://www.linkedin.com/company/bicursiosite/" target="_blank" class="icon style2 fa-linkedin"><span class="label">Linkedin</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>
					
						<!-- Scripts -->
			<script src="../js/jquery.min.js"></script>
			<script src="../js/browser.min.js"></script>
			<script src="../js/breakpoints.min.js"></script>
			<script src="../js/util.js"></script>
			<script src="../js/main.js"></script>
	</div>		
	</body>


</html>
