<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	Template edited by Alexia Mercier for Bicursiosité, 2018 
-->
<html>
	<head>
		<title>BICURSIOSITÉ</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css">
		<noscript><link rel="stylesheet" href="css/noscript.css"></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="img/Logo_final_Bicursiosité.jpg" alt="" /></span><span class="title">BICURSIOSITÉ</span>
								</a>


						</div>
					</header>


				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h2>Bienvenue sur le site de l'association des bicursus de Sorbonne Université</h2>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="img/pic02.jpg" alt="" />
									</span>
									<a href="{{ .Site.BaseURL }}presentation">
										<h2>L'association</h2>
										<div class="content">
											<p>Notre association</p>
										</div>
									</a>
								</article>
								
								<article class="style2">
									<span class="image">
										<img src="img/pic04.jpg" alt="" />
									</span>
									<a href="{{ .Site.BaseURL }}description-dc">
										<h2>Les Doubles Cursus</h2>
										<div class="content">
											<p>Qu'est ce que sont les doubles cursus ?</p>
										</div>
									</a>
								</article>
								
								<article class="style1">
									<span class="image">
										<img src="img/pic02.jpg" alt="" />
									</span>
									<a href="https://www.helloasso.com/associations/bicursiosite/adhesions/adhesion-2019-2020" target="_blank">
										<h2>Adhésion</h2>
										<div class="content">
											<p>Formulaire et Cotisation en ligne</p>
										</div>
									</a>
								</article>
								
								<article class="style2">
									<span class="image">
										<img src="img/pic04.jpg" alt="" />
									</span>
									<a href="{{ .Site.BaseURL }}activites">
										<h2>Les Activités</h2>
										<div class="content">
											<p>Activités passées et à venir</p>
										</div>
									</a>
								</article>
								
									<article class="style1">
									<span class="image">
										<img src="img/pic02.jpg" alt="" />
									</span>
									<a href="{{ .Site.BaseURL }}blog">
										<h2>Le Blog</h2>
										<div class="content">
											<p>Les articles de nos bicursieux</p>
										</div>
									</a>
								</article>
								
								<article class="style2">
									<span class="image">
										<img src="img/pic04.jpg" alt="" />
									</span>
									<a href="{{ .Site.BaseURL }}newsletter">
										<h2>La newsletter</h2>
										<div class="content">
											<p>La dernière newsletter en date </p>
										</div>
									</a>
								    </article>
								
								<article class="style1">
									<span class="image">
										<img src="img/pic02.jpg" alt="" />
									</span>
									<a href="{{ .Site.BaseURL }}carte-echanges">
										<h2>Les échanges à l'étranger</h2>
										<div class="content">
											<p>La carte des échanges passés</p>
										</div>
									</a>
								</article>
								
								<article class="style2">
									<span class="image">
										<img src="img/pic04.jpg" alt="" />
									</span>
									<a href="{{ .Site.BaseURL }}anciens">
										<h2>Les anciens</h2>
										<div class="content">
											<p>Témoignages & Devenir des anciens</p>
										</div>
									</a>
								</article>
									
								    
							</section>
						</div>
					</div>

				<!-- Footer -->
				<footer id="footer">
						<div class="inner">
							<section>
								<h2>Contact</h2>
								<p> Envoyez nous un e-mail : <b>bicursiosite@ntymail.com</b></p> 
								<p><a href="https://my.sendinblue.com/users/subscribe/js_id/3312v/id/2" target="_blank"><b>Inscription à la Newsletter</b></a></p>
							</section>
							<section>
								<h2>Suivez nous !</h2>
								<ul class="icons">
									<li><a href="https://twitter.com/bicursiosite" target="_blank" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/bicursiosite/" target="_blank" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/bicursiosite/" target="_blank" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://www.linkedin.com/company/bicursiosite/" target="_blank" class="icon style2 fa-linkedin"><span class="label">Linkedin</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>
